#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.card {
  border: 1px solid #ccc;
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 8px;
  background-color: #f0f8ff;
}
.weather-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.summary, .header {
  margin: 1rem;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  background: #ada9e2;
  margin: 20px 30px;
  padding: 12px 24px;
  border-radius: 8px;
  display: flex;
  gap: 18px;
  align-items: center;
}

.charts{
  display: flex;
  align-items: flex-start;
  gap: 2rem;
}
nav li {
  list-style-type: none;
}
nav li::before {
  content: "🌈 ";
}
